<div class="s7 roll-dialog">
    {{#unless isItem}}<header class="roll-header taskroll-info">
            <h2 class="roll-name">{{proper attr1}}{{#if (ne attr2 "none")}}+{{proper attr2}}{{/if}}+{{proper skill}}{{!--upper (localize (concatStrings "S7.Attributes.Short." attr))}}+{{proper (localize (concatStrings "S7.Skills." skill))--}}
                <div class="taskroll-final">
                    {{roll.total}}
                </div>
            </h2>
    </header>
    {{/unless}}
    {{#if isItem}}<header class="roll-header taskroll-info">
            <h2 class="roll-name">{{dialogName}}
                <div class="taskroll-final">
                    {{roll.total}}
                </div>
            </h2>
    </header>
    {{/if}}
    <div class="taskroll-msg" style="font-size:0.85em">
        {{#if isItem}}
        <p><em>{{proper attr1}}+{{proper skill}}</em></p>
        {{/if}}
        <p> 
            <strong>Modifiers: </strong>
                  {{#if (gt mods 0)}}+{{mods}}{{/if}}
                  {{#if (lt mods 0)}}{{mods}}{{/if}}
                  {{#if (eq mods 0)}}0{{/if}}
        </p>
        <p>
            <strong>Wound Modifiers: </strong>    -{{wounds}} (WP)
        </p>
        <p>
            <strong>Roll Mode: </strong>{{#if (ne tweak "")}}{{proper tweak}}{{else}}None{{/if}}
        </p>
        {{#if (ne itemEffect "")}}<p><strong>Effect: </strong>{{itemEffect}}</p>{{/if}}
    </div>
    <div class="taskroll-tt">
        <hr>
        
        <div>{{tooltip}}</div>
    </div>
</div>