    <div class="s7 flex-item inset">
        <h3>ACTIVE DEVICE</h3>
        <table class="item-table">
            <tr>
                <th style="text-align:left;">Device</th>
                <th>Rating</th>
                <th>Array</th>
                <th>Firewall</th>
                <th>Data Processing</th>
                <th>Sleaze</th>
                <th>Attack</th>
            </tr>
            {{#each devices as |device name|}}
            {{#if device.data.equipped}}
            <tr style="text-align:center">
                <td style="text-align:left;">{{device.name}}</td>
                <td>{{device.data.rating}}</td>
                <td>{{device.data.array}}</td>
                <td><input class="s7 value-input" style="width:3ch; border:1px solid rgb(161, 161, 161); border-radius:2px" name="device.data.firewall" value="{{device.data.firewall}}"/></td>
                <td><input class="s7 value-input" style="width:3ch; border:1px solid rgb(161, 161, 161); border-radius:2px" name="device.data.data_proc" value="{{device.data.data_proc}}"/></td>
                <td><input class="s7 value-input" style="width:3ch; border:1px solid rgb(161, 161, 161); border-radius:2px" name="device.data.sleaze" value="{{device.data.sleaze}}"/></td>
                <td><input class="s7 value-input" style="width:3ch; border:1px solid rgb(161, 161, 161); border-radius:2px" name="device.data.attack" value="{{device.data.attack}}"/></td>
            </tr>
            <tr>
                <td>Condition Monitor</td>
                <td colspan=6><span style="font-size:1.5em">{{#times 10}} <i class="far fa-square"></i> {{/times}}</span>(placeholder)</td>
            </tr>
            {{/if}}
            {{/each}}
        </table>
    </div>
