    <div class="s7 flex-item inset">
        <h3>ACTIVE DEVICE</h3>
        <table class="item-table">
            <tr>
                <th style="text-align:left;">Device</th>
                <th>Rating</th>
                <th>Array</th>
                <th>Firewall</th>
                <th>Data Processing</th>
                <th>Sleaze</th>
                <th>Attack</th>
            </tr>
            {{#each devices as |device name|}}
            {{#if device.data.equipped}}
            <tr style="text-align:center">
                <td style="text-align:left;">{{device.name}}</td>
                <td>{{device.data.rating}}</td>
                <td>{{device.data.array}}</td>
                <td>{{device.data.firewall}}</td>
                <td>{{device.data.data_proc}}</td>
                <td>{{device.data.sleaze}}</td>
                <td>{{device.data.attack}}</td>
            </tr>
            <tr>
                <td>Condition Monitor</td>
                <td colspan=6><span style="font-size:1.5em">{{#times 10}} <i class="far fa-square"></i> {{/times}}</span>(placeholder)</td>
            </tr>
            {{/if}}
            {{/each}}
        </table>
    </div>
