{{#unless attribute.hidden}}
<div class="s7 flex-attribute center">
<p>
    <strong>
    <a class="roll-att" data-att-id="{{attributeName}}">
    {{upper (localize (concatStrings "S7.Attributes.Short." attributeName))}} 
    <span style="font-size:1.15em">({{attribute.value}})</span>
    </a>
    </strong>
</p>
<input type="text" class="s7 value-input" data-dtype="Number" name="data.attributes.{{attributeName}}.base" value="{{attribute.base}}"/>
+ <input type="text" class="s7 value-input" data-dtype="Number" name="data.attributes.{{attributeName}}.mod" value="{{attribute.mod}}"/>
</div>
{{/unless}}