<div class="s7 flexrow">
    <table>
        <tr>
            <th>{{localize "S7.Attributes.Body"}}</th>
            <th>{{localize "S7.Attributes.Agility"}}</th>
            <th>{{localize "S7.Attributes.Reaction"}}</th>
            <th>{{localize "S7.Attributes.Strength"}}</th>
            <th>{{localize "S7.Attributes.Willpower"}}</th>
            <th>{{localize "S7.Attributes.Logic"}}</th>
            <th>{{localize "S7.Attributes.Intuition"}}</th>
            <th>{{localize "S7.Attributes.Charisma"}}</th>
            <th>{{localize "S7.Attributes.Magic"}}</th>
        </tr>
        <tr>
            {{#each config.attributes as |v k|}}
            <td>
                <label for="{{k}}"><input id="{{k}}" name="data.attributes.{{k}}.base" value="{{concat "data.attributes." k ".base"}}"/></label>
                 + <input name="data.attributes.{{k}}.mod" value="{{concat "data.attributes." k ".base"}}"/>
            </td>
            {{/each}}
        </tr>
    </table>
</div>