 <div class="s7 flex-item inset">
            <h3>EQUIPMENT</h3>
            <table>
                <tr>
                        <th style="text-align:left;">Item</th>
                        <th>Roll (if any)</th>
                        <th>Rating</th>
                        <th>Quantity</th>
                        <th>Value Per</th>
                        
                        <th>Edit</th>
                </tr>
            {{#each gear as |gear name|}}
            {{log "Gear" gear}}
            <tr style="text-align:center;">
                <td style="text-align:left;"><strong><a class="item-name item" data-item-id="{{gear._id}}">{{gear.name}}</a></strong></td>
                <td>{{#unless (eq gear.data.roll.attribute "none")}}{{proper gear.data.roll.attribute}} + {{proper gear.data.roll.skill}}{{/unless}}</td>
                <td>{{gear.data.rating}}</td>
                <td>{{gear.data.quantity}}</td>
                <td>{{gear.data.nuyen}}</td>
                <td><a class="item-edit item" data-item-id="{{gear._id}}"><i class="fas fa-edit"></i></a> <a class="item-delete item" data-item-id="{{gear._id}}"><i class='fas fa-trash'></i></a></td>
            </tr>
            {{/each}}
            </table>
    </div>