<div class="s7 flex-item">
    <table class="item-table" style="padding:0px">
        <tr>
            <th>Meatspace</th>
            <th>Matrix</th>
            {{#if data.awakened}}
            <th>Astral</th>
            {{/if}}
        </tr>
        <tr style="text-align:center">
            <td>{{data.initiative.meatspace.score}} + {{data.initiative.meatspace.dice}}D6 <input class="initmode" style="height:12px" data-init-mode="meatspace" type="checkbox" {{checked (eq data.initiative.current_mode "meatspace")}}/> </td>
        
            <td>{{data.initiative.matrix.score}} + {{data.initiative.matrix.dice}}D6 <input class="initmode" style="height:12px" data-init-mode="matrix" type="checkbox" {{checked (eq data.initiative.current_mode "matrix")}}/> </td>

            {{#if data.awakened}}<td>{{data.initiative.astral.score}} + {{data.initiative.astral.dice}}D6 <input class="initmode" style="height:12px" data-init-mode="astral" type="checkbox" {{checked (eq data.initiative.current_mode "astral")}}/> </td>{{/if}}
        </tr>
    </table>
</div>