    <div class="s7 flex-item inset">
            <h3>SPELLS</h3>
            <table>
                <tr>
                        <th style="text-align:left;">Spell</th>
                        <th>Category</th>
                        <th>Type</th>
                        <th>Range</th>
                        <th>Base Drain</th>
                        <th>Attack Rating</th>
                        <th>Damage</th>
                        <th>Element</th>
                        <th>Roll</th>
                        <th>Edit</th>
                </tr>
            {{#each spells as |spell name|}}
            
            <tr style="text-align:center;">
                <td style="text-align:left;"><strong><a class="item-name item" data-item-id="{{spell._id}}">{{spell.name}}</a></strong></td>
                <td>{{proper spell.data.category}}
                    {{#if (eq spell.data.category "combat")}}
                        ({{localize (concatStrings "S7.SpellModes." spell.data.mode)}})
                    {{/if}}
                </td>
                <td>{{proper spell.data.type}}</td>
                <td>{{spell.data.range}}</td>
                <td>{{spell.data.drain}}</td>
                <td>{{spell.data.attack_rating.close}}</td>
                <td>{{proper spell.data.damage.dmgtype}}</td>
                <td>{{proper spell.data.damage.element}}</td>
                <td>{{proper spell.data.roll.attribute}}+{{proper spell.data.roll.skill}}</td>
               
               <td><a class="item-edit item" data-item-id="{{spell._id}}"><i class="fas fa-edit"></i></a> <a class="item-delete item" data-item-id="{{spell._id}}"><i class='fas fa-trash'></i></a></td>
            </tr>
            {{/each}}
            </table>
    </div>