    <div class="s7 flex-item inset">
            <h3 class="inv-header">
                <div>WEAPONS</div>
                        <a class="add-item" title="Add Weapon" data-type="weapon">
                            <i class="fas fa-plus-square"></i>
                        </a>
            </h3>
            <table class="item-table">
                <tr>
                    <th></th>
                        <th style="text-align:left;">Weapon</th>
                        <th>Type</th>
                        <th>Roll</th>
                        <th>Attack Rating</th>
                        <th>Damage</th>
                        <th>AP?</th>
                        <th>Ammo</th>
                        <th>Edit</th>
                </tr>
            {{#each weapons as |weapon name|}}
        
            <tr style="text-align:center;">
                <td><a title="Roll" class="item-roll weapon-image" data-item-id="{{weapon._id}}"><img src="{{weapon.img}}" height="24px" width="24px"/></td>
                <td style="text-align:left;"></a><strong><a class="item-name item" data-item-id="{{weapon._id}}">{{weapon.name}}</a></strong></td>
                <td>{{proper weapon.data.type}}</td>
                <td>{{#unless (eq weapon.data.roll.attribute "none")}}{{proper weapon.data.roll.attribute}}+{{proper weapon.data.roll.skill}}{{/unless}}</td>
                <td>{{#if (eq weapon.data.attack_rating.close -1)}}-
                    {{else}}{{weapon.data.attack_rating.close}}{{/if}}/
                    {{#if (eq weapon.data.attack_rating.near -1)}}-{{else}}{{weapon.data.attack_rating.near}}{{/if}}
                    /{{#if (eq weapon.data.attack_rating.medium -1)}}-{{else}}{{weapon.data.attack_rating.medium}}{{/if}}
                    /{{#if (eq weapon.data.attack_rating.far -1)}}-{{else}}{{weapon.data.attack_rating.far}}{{/if}}</td>
                <td>{{weapon.data.damage.dv}}{{weapon.data.damage.dmgtype}}</td>
                <td>{{#if weapon.data.ap}}Yes{{else}}No{{/if}}</td>
                <td>{{#if (eq weapon.data.type "melee")}} - {{else}}{{weapon.data.ammo}} ({{localize (concatStrings "S7.AmmoContainers." weapon.data.ammo_container)}}){{/if}}</td>
                <td><a class="item-edit item" data-item-id="{{weapon._id}}"><i class="fas fa-edit"></i></a> <a class="item-delete item" data-item-id="{{weapon._id}}"><i class='fas fa-trash'></i></a></td>
            </tr>
            {{/each}}
            </table>
    </div>