<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1 class="charname"><input style="color:white;" name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>

    <section class="sheet-body">
        <div class="s7 flexcol">
            <div class="s7 flexrow">
                <div class="s7 flex-item">
                    <table class="item-table">
                        <tr class="wtext">
                            <th>Armor Current Rating</th>
                            <th>Armor Max Rating</th>
                            <th>Acid Protection</th>
                            <th>Cold Protection</th>
                            <th>Electricity Protection</th>
                            <th>Fire Protection</th>
                        </tr>
                        <tr style="text-align:center">
                            <td>
                                <input class="s7 value-input" type="text" name="data.current_rating" value="{{data.current_rating}}" data-dtype="Number"/>
                            </td>
                            <td>
                                <input class="s7 value-input" type="text" name="data.rating" value="{{data.rating}}" data-dtype="Number"/>
                            </td>
                            <td>
                                <input class="s7 value-input" type="text" data-dtype="Number" name="data.element.acid" value="{{data.element.acid}}" />
                            </td>
                            <td>
                                <input class="s7 value-input" type="text" data-dtype="Number" name="data.element.cold" value="{{data.element.cold}}" />
                            </td>
                            <td>
                                <input class="s7 value-input" type="text" data-dtype="Number" name="data.element.electricity" value="{{data.element.electricity}}" />
                            </td>
                            <td>
                                <input class="s7 value-input" type="text" data-dtype="Number" name="data.element.fire" value="{{data.element.fire}}" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan=6>
                                <h3>Description</h3>
                                <textarea style="color:white;" name="data.effect">{{data.effect}}</textarea>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </section>
</form>

