<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>

    <section class="sheet-body">
        <div class="s7 flexcol">
            <div class="s7 flexrow">
                {{> "systems/s7/templates/item/parts/weapontypes.hbs"}}
                 {{> "systems/s7/templates/item/parts/attributeselect.hbs"}}
             {{> "systems/s7/templates/item/parts/skillselect.hbs"}}
            
            </div>
        </div>
        <div class="s7 flexcol">
            <div class="s7 flexrow">
                <div class="s7 flex-item">
                    <table>
                        <tr>
                            <th colspan="4">Attack Rating</th>
                        </tr>
                        <tr>
                            <th>Close</th>
                            <th>Near</th>
                            <th>Med</th>
                            <th>Far</th>
                        </tr>
                        <tr>
                            <td>
                                <input class="s7 value-input" type="text" name="data.attack_rating.close" value="{{data.attack_rating.close}}" data-dtype="Number"/>
                            </td>
                            <td>
                                <input class="s7 value-input" type="text" name="data.attack_rating.near" value="{{data.attack_rating.near}}" data-dtype="Number"/>
                            </td>
                            <td>
                                <input class="s7 value-input" type="text" name="data.attack_rating.medium" value="{{data.attack_rating.medium}}" data-dtype="Number"/>
                            </td>
                            <td>
                                <input class="s7 value-input" type="text" name="data.attack_rating.far" value="{{data.attack_rating.far}}" data-dtype="Number"/>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </section>
</form>

