<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1 class="charname"><input style="color:white;" name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>

    <section class="sheet-body">
        <div class="s7 flexcol">
            <div class="s7 flexrow">
                {{> "systems/s7/templates/item/parts/weapontypes.hbs"}}
                 {{> "systems/s7/templates/item/parts/attributeselect.hbs"}}
             {{> "systems/s7/templates/item/parts/skillselect.hbs"}}
            
            </div>
        </div>
        <div class="s7 flexcol">
            <div class="s7 flexrow">
                <div class="s7 flex-item">
                    <table class="item-table">
                        <tr class="wtext">
                            <th>Attack Rating</th>
                            <th>DV</th>
                            <th>Dmg. Type</th>
                            <th>AP?</th>
                            <th>Element</th>
                            {{#if (eq data.type "firearm")}}
                            <th>Ammo</th>
                            <th>Mag Type</th>
                            {{/if}}
                        </tr>
                        <tr style="text-align:center">
                            <td>
                                <input class="s7 value-input" type="text" name="data.attack_rating.close" value="{{data.attack_rating.close}}" data-dtype="Number"/> / 
                                <input class="s7 value-input" type="text" name="data.attack_rating.near" value="{{data.attack_rating.near}}" data-dtype="Number"/> / 
                                <input class="s7 value-input" type="text" name="data.attack_rating.medium" value="{{data.attack_rating.medium}}" data-dtype="Number"/> / 
                                <input class="s7 value-input" type="text" name="data.attack_rating.far" value="{{data.attack_rating.far}}" data-dtype="Number"/>
                            </td>
                            <td>
                                <input class="s7 value-input" type="text" name="data.damage.dv" value="{{data.damage.dv}}" data-dtype="Number"/>
                            </td>
                            <td>
                                <input class="s7 value-input" type="text" name="data.damage.dmgtype" value="{{data.damage.dmgtype}}" data-dtype="String"/>
                            </td>
                            <td>
                                <input class="s7" type="checkbox" name="data.ap" {{checked data.ap}}/>
                            </td>
                            <td>
                                <select name="data.damage.element">
                                    {{#select data.damage.element}}
                                    <option value="none"></option>
                                    <option value="acid">Acid</option>
                                    <option value="cold">Cold</option>
                                    <option value="electricity">Electricity</option>
                                    <option value="fire">Fire</option>
                                    {{/select}}
                                </select>
                            </td>
                            {{#if (eq data.type "firearm")}}<td>
                                <input class="s7 value-input" style="width:4ch" type="text" name="data.ammo" value="{{data.ammo}}" data-dtype="Number"/>
                            </td>
                            <td>
                                {{> "systems/s7/templates/item/parts/magselect.hbs"}}
                            </td>
                            {{/if}}
                        </tr>
                        {{#if (eq data.type "firearm")}}
                        <tr>
                            <th colspan=3>Ammo Consumption: Standard</th>
                            <th colspan=4>Ammo Consumption: Autofire</th>
                        </tr>
                        <tr style="text-align:center">
                            <td colspan=3>
                                <input class="s7 value-input" type="text" name="data.shots.standard" value="{{data.shots.standard}}" data-dtype="Number"/>
                            </td>
                            <td colspan=4>
                                <input class="s7 value-input" type="text" name="data.shots.autofire" value="{{data.shots.autofire}}" data-dtype="Number"/>
                            </td>
                        </tr>
                        {{/if}}
                    </table>
                </div>
            </div>

        </div>
    </section>
</form>

