<div>
    <table>
        <tr>
            <th>{{localize "S7.Attributes.Body"}}</th>
            <th>{{localize "S7.Attributes.Agility"}}</th>
            <th>{{localize "S7.Attributes.Reaction"}}</th>
            <th>{{localize "S7.Attributes.Strength"}}</th>
            <th>{{localize "S7.Attributes.Willpower"}}</th>
            <th>{{localize "S7.Attributes.Logic"}}</th>
            <th>{{localize "S7.Attributes.Intuition"}}</th>
            <th>{{localize "S7.Attributes.Charisma"}}</th>
            <th>{{localize "S7.Attributes.Magic"}}</th>
            <th>{{localize "S7.Attributes.Essence"}}</th>
        </tr>
        <tr style="text-align:center;">
            <td>
                <input type="text" style="width:2ch;" data-dtype="Number" name="data.attributes.body.base" value="{{data.attributes.body.base}}"/>
                 + <input type="text" style="width:2ch;" data-dtype="Number" name="data.attributes.body.mod" value="{{data.attributes.body.mod}}"/>
            </td>
          <td>
                <input type="text" style="width:2ch;" data-dtype="Number" name="data.attributes.agility.base" value="{{data.attributes.agility.base}}"/>
                 + <input type="text" style="width:2ch;" data-dtype="Number" name="data.attributes.agility.mod" value="{{data.attributes.agility.mod}}"/>
            </td>
            <td>
                <input type="text" style="width:2ch;" data-dtype="Number" name="data.attributes.reaction.base" value="{{data.attributes.reaction.base}}"/>
                 + <input type="text" style="width:2ch;" data-dtype="Number" name="data.attributes.reaction.mod" value="{{data.attributes.reaction.mod}}"/>
            </td>
            <td>
                <input type="text" style="width:2ch;" data-dtype="Number" name="data.attributes.strength.base" value="{{data.attributes.strength.base}}"/>
                 + <input type="text" style="width:2ch;" data-dtype="Number" name="data.attributes.strength.mod" value="{{data.attributes.strength.mod}}"/>
            </td>
            <td>
                <input type="text" style="width:2ch;" data-dtype="Number" name="data.attributes.willpower.base" value="{{data.attributes.willpower.base}}"/>
                 + <input type="text" style="width:2ch;" data-dtype="Number" name="data.attributes.willpower.mod" value="{{data.attributes.willpower.mod}}"/>
            </td>
            <td>
                <input type="text" style="width:2ch;" data-dtype="Number" name="data.attributes.logic.base" value="{{data.attributes.logic.base}}"/>
                 + <input type="text" style="width:2ch;" data-dtype="Number" name="data.attributes.logic.mod" value="{{data.attributes.logic.mod}}"/>
            </td>
            <td>
                <input type="text" style="width:2ch;" data-dtype="Number" name="data.attributes.intuition.base" value="{{data.attributes.intuition.base}}"/>
                 + <input type="text" style="width:2ch;" data-dtype="Number" name="data.attributes.intuition.mod" value="{{data.attributes.intuition.mod}}"/>
            </td>
            <td>
                <input type="text" style="width:2ch;" data-dtype="Number" name="data.attributes.charisma.base" value="{{data.attributes.charisma.base}}"/>
                 + <input type="text" style="width:2ch;" data-dtype="Number" name="data.attributes.charisma.mod" value="{{data.attributes.charisma.mod}}"/>
            </td>
            <td>
                <input type="text" style="width:2ch;" data-dtype="Number" name="data.attributes.magic.base" value="{{data.attributes.magic.base}}"/>
                 + <input type="text" style="width:2ch;" data-dtype="Number" name="data.attributes.magic.mod" value="{{data.attributes.magic.mod}}"/>
            </td>
            <td>
                <input type="text" style="width:2ch;" data-dtype="Number" name="data.attributes.essence.base" value="{{data.attributes.essence.base}}"/>
                 + <input type="text" style="width:2ch;" data-dtype="Number" name="data.attributes.essence.mod" value="{{data.attributes.essence.mod}}"/>
            </td>
        </tr>
    </table>
</div>