        <td>
                <p><strong><a class="roll-att" data-att-id="{{attributeName}}">{{localize (concatStrings "S7.Attributes." (proper attributeName))}}</a></strong></p>
                <strong><span style="font-size:1.15em">({{attribute.value}})</span></strong><br>
                <input type="text" style="width:2ch;" data-dtype="Number" name="data.attributes.{{attributeName}}.base" value="{{attribute.base}}"/>
                 + <input type="text" style="width:2ch;" data-dtype="Number" name="data.attributes.{{attributeName}}.mod" value="{{attribute.mod}}"/>
            </td>